.formDiv {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  letter-spacing: 0.2em;
}

.formDiv input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #112d4e;
  border-bottom: 2px solid #f9f7f7;
  color: #f9f7f7;
  width: 24em;
  padding-bottom: 0.8em;
  font-size: 1em;
  letter-spacing: 0.1em;
}

button {
  margin-left: 0.8em;
  margin-bottom: 0.8em;
  background-color: #112d4e;
  color: #f9f7f7;
  padding: 0.9em;
  border: 1px solid #dbe2ef;
  border-radius: 0.4em;
  font-weight: bold;
  font-size: 0.9em;
}


/*******************************************************************
************************ CSS MEDIA QUERIES *************************
*******************************************************************/

@media only screen and (max-width: 674px) {
  .formDiv {
    text-align: center;
  }

  .formDiv input {
    width: 80%;
  }
  
  button {
    margin-top: 1.5em;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.4em;
  }

  h4 {
    line-height: 1.5em;
  }
}