:root {
  --darkBlue: #112d4e;
  --blue: #3f72af;
  --lightGrey: #dbe2ef;
  --offWhite: #f9f7f7;
  --boxShadowColor: rgb(168, 168, 168);
}

html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.08em;
  margin: 0px;
  padding: 0px;
  background-color: var(--darkBlue);
  color: var(--offWhite);
}

.formDiv, .moviesDiv {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

span {
  font-weight: bold;
}

.moviesDiv {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: center;
}

.movieCards {
  margin: 2em 1em;
  width: 220px;
  height: 450px;
  background-color: var(--lightGrey);
  color: var(--darkBlue);
}

.movieCards img {
  width: 100%;
  height: 280px;
}

.titles {
  margin-left: 0.8em;
  margin-right: 0.5em;
  margin-bottom: 0.8em;
}

button {
  margin-left: 0.8em;
  margin-bottom: 0.8em;
  background-color: var(--darkBlue);
  color: var(--offWhite);
  padding: 0.6em;
  border: 1px solid var(--lightGrey);
  border-radius: 0.4em;
}

.detailsButton {
  margin-top: 1em;
  margin-left: 0.8em;
  margin-bottom: 0.8em;
  width: 105px;
  background-color: var(--darkBlue);
  padding: 0.5em;
  border: 1px solid var(--lightGrey);
  border-radius: 0.4em;
}

.detailsButton a {
  text-decoration: none;
  color: var(--offWhite);
}

.imageNA {
  height: 280px;
  margin-top: 0px;
}

.detailsHeader {
  text-align: center;
}

.movieDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3em;
}

.movieDetails span {
  font-style: italic;
}

.movieDetails img {
  height: 100%;
}

.movieSpecs {
  text-align: left;
}

.backToSearchButton {
  margin-top: 2em;
  margin-bottom: 0.8em;
  width: 127px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--darkBlue);
  padding: 0.5em;
  border: 1px solid var(--lightGrey);
  border-radius: 0.4em;
}

.backToSearchButton a {
  text-decoration: none;
  color: var(--offWhite);
}